<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.b07.drflights">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClientInfoActivity"
            android:label="@string/client_activity_title"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.LoginActivity"
                android:value="cs.b07.drflights.ClientInfo" />
        </activity>

        <intent-filter>
            <action android:name="cs.b07.drflights.ClientInfoActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity
            android:name=".admin.AdminInfoActivity"
            android:label="@string/title_activity_admin_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookedItineraryActivity"
            android:label="@string/title_activity_itinerary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditClientInfoActivity"
            android:label="@string/title_activity_edit_client_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditFlightInfoActivity"
            android:label="@string/title_activity_edit_flight_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisplayItineraries"
            android:label="@string/title_activity_display_itineraries"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
